#box1{
    background-color: green;
    float:left;
}
#box2{
    background-color: red;
    float: left;
}
#box3{
    background-color: yellow;
    clear:left;
    float:left;
}
#box4{
    background-color: blue;
    float:left;
}
.box{
    height: 36px;
    width: 36px;
    border: black 1px solid;


}
#wrapper{
    width: 960px;
    border: 1px solid black;
    margin-left: auto;
    margin-right:auto;
}
#menu {
    background-color: antiquewhite;
    height: 25px;
    line-height: 25px;
}
#menu ul{
    margin: 0;
}
#menu li{
    display: inline;
}
#content{
    width: 593px;
    background-color: blanchedalmond;
    float: left;
}

#sidebar{
    background-color: chocolate;
    width: 366px;
    float: left;
}
#footer{
    background-color: bisque;
}